
.avatar{
width: 50px;
height: 50px;
}

.avatar-med{
    width: 70px;
    height: 70px;
}

.avatar-big{
width: 100px;
height: 100px;  
}



.updates{
gap: 2em;
justify-content: center;
display: flex;
flex-wrap: wrap;
margin: 2em 0em;

}


.dashboard{
padding: 1em;
min-width: 20em;
box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.42);
flex-grow: 1;
}

.stats{
display: flex;
gap: 2em;
}


    
.InfoCard{
min-width: none;
    display: flex;
    padding: 1em 2em;
    align-items: center;
    border-radius: 2em;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.42);
    
    h6{
        font-size: 4em;
    }
    img{
        width: 4.5em;
        height:4.5em;
    }
}


#carItem{
    height: 25vh;
}

#carImg{
    height: 100%;
    object-fit: cover;
}

.carousel-caption{
    padding-left: 1em;  
    height: 10vh;
    width: 100%;
    bottom: 0;
    left:0;
    text-align: left;
    background-color:#e4e4e4af;
}

.carousel-indicators{
    position: relative;
}


.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }



  .vacationReq{
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.42);
    

  }

  .universalHeader{
    justify-content: space-between;
    padding: 1em;
   
     img{
        width: 3em;
        height: 3em;

    }
  }

  
.search{
    gap: 0.5em;
    background-color: #ffffff;
    padding: 0 0.5em;

input{
    height: 4vh;
    width: 20vw;
    border: none;
    
}

img{
    width: 2rem;
    height: 2rem;
    
    }
  }

.vacationReqBody{
padding: 1em 2em;

}

#last-container{

margin-bottom: 20vh;

}


.history{
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.42);
}


.hide {
    display: none;
  }